{%extends 'help_teacher_app/base.html'%}

<!DOCTYPE html> {% load staticfiles %} 
{% block content %}

<div class="jumbotron welcomejumbotron">
    <h1>Bem vindo ao HelpTeacher</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Objetivo</div>
    <div class="panel-body">A aplicação HelpTeacher propõe oferecer uma solução para profissionais da área da educação para gerenciamento de ações
        cotidianas. Portanto, a aplicação oferecerá recursos para professores manterem informações sobre alunos, turmas e
        cálculo da notas.
    </div>
</div>

<div class="row table-options">
    <div class="col-lg-4 align-table-options">
        <p>Mantenha suas informações</p>
        <a class="btn btn-primary" href="{% url 'teacher' %}" role="button">Professor</a>
    </div>

    <div class="col-lg-4 align-table-options">
        <p>Gerencie suas turmas</p>
        <a class="btn btn-primary" href="{% url 'classes' %}" role="button">Turmas</a>
    </div>

    <div class="col-lg-4 align-table-options">
        <p>Gerencie os cursos</p>
        <a class="btn btn-primary" href="{% url 'courses' %}" role="button">Cursos</a>
    </div>
</div>
</div>

{% endblock %}