<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Professores</title>
</head>
<body>
    <h1>Professor</h1>
    <select name="professor_selecioando" id="professor_selecionado">
        {% for professor in professores %}
            <option value="{% professor %}">{{ professor.name }}</option>
        {% endfor %}
    </select>
</body>
</html>