{%extends 'help_teacher_app/base.html'%} 

<!DOCTYPE html> {% load staticfiles %}

{% block styleCustom %}
<link rel="stylesheet" href="{% static 'css/teacherstyle.css' %}">
<title>Professores</title>
{% endblock %}


{% block content %}

<div class="teacher-content">
    <h1>Professor</h1>
    <div class="teacher-content-select">
        <label for="professor_selecionado">Selecione o professor: </label>
        <form method="POST">
            {% csrf_token %}
            <select name="professor_selecionado" id="professor_selecionado" onchange="$('form').submit();">
                {% for teacherAux in teachers %}
                <option value="{{ teacherAux.id }}" {% if teacherAux.id == selected_teacher.id %} selected {% endif %}>{{ teacherAux.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="jumbotron teacher-info">
        <h4>Nome:</h4>
        <p>{{ selected_teacher.name }}</p>
        <h4>Formação:</h4>
        <p>{{ selected_teacher.formation }}</p>
        <h4>Escola:</h4>
        <p>{{ selected_teacher.school }}</p>
        <div class="teacher-info-btns">
            <a class="btn btn-primary" href="{% url 'form_teacher' %}">Adicionar Professor</a>
            <a class="btn btn-info" href="{% url 'update_teacher' selected_teacher.id %}">Editar Informações</a>
            <a class="btn btn-danger" href="{% url 'delete_teacher' selected_teacher.id %}">Excluir</a>
        </div>
    </div>
</div>

{% block JavaScript %}
<script>
    $().read(function () {
        $("#professor_selecionado").change(function () {

        });
    });
</script> {% endblock JavaScript %}
{% endblock %}