body {
    text-align: center;
}

h1 {
    color: #0191C8;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 36px;
}

.jumbo-courses {
    margin-top: 20px;
    text-align: center;
    border: 1px groove grey;
    background-color: #f6fefd;
}

.jumbo-courses .table-hover {
    margin-top: 25px;
}

h2 {
    color: #361072;
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 28px;
}

.jumbo-courses .table-hover thead {
    background-color: #e0e0e0;
    color: #361072;
}

.jumbo-courses .table-hover thead tr th {
    text-align: center;
}

.jumbo-courses .courses-info-btns {
    margin-top: 50px;
}

.jumbo-courses .courses-info-btns a {
    width: 150px;
}

.jumbo-courses .courses-btns a {
    width: 50px;
}

.jumbo-courses .student-btns a {
    width: 80px;
}

.student-name {
    color: purple;
}

.jumbo-info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.copyright {
    margin-top: 15%;
}