{%extends 'help_teacher_app/base.html'%}
<!DOCTYPE html> {% load staticfiles %} 

{% block styleCustom %}
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
<title>Turmas</title>
{% endblock %} 

{% block content %}
<h1>Gerenciamento de Turmas</h1>
<div class="jumbotron jumbo-courses">
    <table class="table table-hover">

        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Disciplina</th>
                <th>Horário</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for classvo in classes %}
            <tr>
                <td>
                    <a href="">{{classvo.code}}</a>
                </td>
                <td>{{classvo.name}}</td>
                <td>{{classvo.discipline}}</td>
                <td>{{classvo.schedule|time:"H:i"}}</td>
                <td>
                    <div class="courses-btns">
                        <a href="{% url 'delete_class' classvo.id %}" class="btn btn-danger btn-xs">Excluir</a>
                        <a href="{% url 'update_class' classvo.id %}" class="btn btn-info btn-xs">Alterar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="courses-info-btns">
        <a href="{% url 'form_class' %}" class="btn btn-primary">Nova Turma</a>
    </div>
</div>
{% endblock %}