{%extends 'help_teacher_app/base.html'%}
<!DOCTYPE html> {% load staticfiles %} {% block styleCustom %}
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
<title>Cursos</title>
{% endblock %} {% block content %}
<h1>Lista de Cursos</h1>
<div class="jumbotron jumbo-courses jumbo-info">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{course.code}}</td>
                <td>
                    <a href="{% url 'update_course' course.id %}">{{course.name}}</a>
                </td>
                <td>
                    <div class="courses-btns">
                        <a href="{% url 'delete_course' course.id %}" class="btn btn-danger btn-xs">Excluir</a>
                        <a href="{% url 'update_course' course.id %}" class="btn btn-info btn-xs">Alterar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="courses-info-btns">
        <a href="{% url 'form_course' %}" class="btn btn-primary">Adicionar</a>
    </div>
</div>
{% endblock %}