{%extends 'help_teacher_app/base.html'%}
<!DOCTYPE html>{% load staticfiles %}

{% block styleCustom %}
<title>Cadastro de Aluno</title>
<link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbo-form">
        <h2>Dados do Aluno:</h2>
        <form method="POST">
           
            {{ form.as_p }} {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Concluído ">
        </form>
    </div>
{% endblock %}