{%extends 'help_teacher_app/base.html'%}
<!DOCTYPE html> {% load staticfiles %}

{% block styleCustom %}
<title>Notas</title>
<link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
{% endblock %}

{% block content %}
<h1>Notas do Aluno {{student.name}}</h1>
<div class="jumbotron jumbo-form">

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Valor</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in grades %}
            <tr>
                <td>{{grade.value}}</td>
                <td>{{grade.observation}}</td>
                <td>
                    <a href="{% url 'delete_grade' student.id grade.id%}" class="btn btn-danger btn-xs">Excluir</a>
                    <a href="{% url 'update_grade' student.id grade.id%}" class="btn btn-info btn-xs">Alterar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'form_grade' student.id %}" class="btn btn-primary">Nova Nota</a>
</div>
{% endblock %}