{%extends 'help_teacher_app/base.html'%}
<!DOCTYPE html> {% load staticfiles %} 

{% block styleCustom %}
<link rel="stylesheet" href="{% static 'css/coursesstyle.css' %}">
<title>Alunos</title>
{% endblock %} 

{% block content %}
<h1>Alunos</h1>
<div class="jumbotron jumbo-courses jumbo-info">
    <table class="table table-hover">

        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.registration}}</td>
                <td>{{student.name}}</td>
                <td>
                    <div class="student-btns">
                        <a href="{% url 'delete_student' student.id %}" class="btn btn-danger btn-xs">Excluir</a>
                        <a href="{% url 'update_student' student.id %}" class="btn btn-info btn-xs">Alterar</a>
                        <a href="{% url 'grades' student.id %}" class="btn btn-success btn-xs">Ver Notas</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="courses-info-btns">
        <a href="{% url 'form_student' %}" class="btn btn-primary">Novo Aluno</a>
    </div>
</div>
{% endblock %}